.scrollup {
  width: 80px;
  height: 100px;
  position: fixed;
  bottom: 50px;
  text-indent: -9999px;
  background: url(../images/arrow.png) 50% 20% no-repeat;
  display: none;
}

.scroll-title {
  text-indent: 0;
  position: relative;
  top: 15px;
  text-align: center;
  color:#fff;
}

a.scrollup {
  border-bottom-style: none;
  border-bottom: 0;
  z-index: 10;
}

.scrollup:hover {
  text-decoration: none;
}
